/* Add this style to create a horizontal navigation bar */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style for each navigation item */
.nav-list li {
    margin: 0 15px;
}

/* Style for the dropdown menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* Dropdown background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Dropdown box shadow */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for dropdown links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f9f9f9; /* Hover background color */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
}

header {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    color: #333;
    text-decoration: none;
}

main {
    flex: 1; /* This makes the main content area grow to fill the available space */
    padding: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
